/* --------------------------- Buttons --------------------------- */
/* --------------------------------------------------------------- */

button {
  /* --button-shadow: .1em .3em .5em var(--clr-shadow-400); */
  --button-shadow-low: 1px 3px 4px hsla(186, 89%, 5%, 0.2);
  --button-shadow-medium: 2px 3px 7px hsla(186, 89%, 5%, 0.15);
  --button-shadow-high: 3px 9px 12px hsla(186, 89%, 5%, 0.1);

  text-decoration: none;
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  line-height: 0;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
    transform 150ms ease,
    box-shadow 150ms ease;
  user-select: none;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: var(--button-shadow-high);
}
button:active {
  transform: translateY(2px);
  box-shadow: var(--button-shadow-low), 
    9999px 9999px var(--clr-shadow-400) inset;
}

.small-button,
.medium-button,
.large-button {
  min-width: min(60%, 250px);
  border: var(--line-width) solid var(--clr-neutral-900);
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  box-shadow: var(--button-shadow-medium);
}
.small-button {
  min-width: fit-content;
  padding: 1em 1.2em;
  font-size: var(--fs-small-button);
}
.medium-button {
  font-size: var(--fs-medium-button);
  text-transform: uppercase;
  padding: 1.7em 2.5em;
}
.large-button {
  font-size: var(--fs-large-button);
  text-transform: uppercase;
  padding: 1.7em 2.5em;
}

@media (min-width: 768px) {
  .small-button,
  .medium-button,
  .large-button {
    min-width: 160px;
  }
}