/* ---------------------------- Card ----------------------------- */
/* --------------------------------------------------------------- */
  .card-red,
  .card-yellow,
  .card-blue {
    --card-padding: max(8%, 50px);
    --card-offset: 15px;

    position: relative;
    padding-block: calc( var(--card-padding) + var(--size-300) );
    padding-inline: var(--card-padding);
    border-radius: var(--border-radius, 20px);
    background-color: var(--clr-neutral-100, white);
    border: var(--line-width) solid var(--clr-neutral-900, black);
    height: fit-content;

    box-shadow: var(--card-offset) var(--card-offset) var(--shadow-color);
  }

  .card-red { --shadow-color: var(--clr-primary-red); }
  .card-yellow { --shadow-color: var(--clr-primary-yellow); }
  .card-blue { --shadow-color: var(--clr-primary-blue); }