/* ---------------------------- Card ----------------------------- */
/* --------------------------------------------------------------- */
.card-red,
.card-yellow,
.card-blue,
.card-black {
  --card-padding: min(60px, 8%);
  --card-shadow-offset: 12px;

  position: relative;
  width: 100%;
  height: fit-content;
  padding-top: calc( var(--card-padding) + var(--size-300) );
  padding-inline: var(--card-padding);
  padding-bottom: calc( var(--card-padding) + var(--size-300) );
  border: var(--line-width) solid var(--clr-neutral-900, black);
  border-radius: var(--border-radius, 20px);

  box-shadow: var(--card-shadow-offset) var(--card-shadow-offset) rgba(0, 0, 0, 0.075),var(--card-shadow-offset) var(--card-shadow-offset) var(--card-clr-shadow);

  outline: 1px dashed rgba(0, 0, 0, 0.5);
  outline-offset: -12px;
}

.card-red { --card-clr-shadow: var(--clr-primary-red); }
.card-yellow { --card-clr-shadow: var(--clr-primary-yellow); }
.card-blue { --card-clr-shadow: var(--clr-primary-blue); }
.card-black { --card-clr-shadow: var(--clr-neutral-900); }

.card-number {
  position: absolute;
  top: -85px;
  left: 5%;
  text-align: center;
  padding: 15px;
  color: var(--card-clr-shadow);
  font-size: 6rem;
  font-weight: var(--fw-semi-bold);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 768px) {
  .card-number {
    top: -120px;
    width: 80px;
    height: 60px;
    padding: 10px;
    outline-offset: -10px;
    font-size: 6rem;
    font-weight: var(--fw-semi-bold);
  }
}

/* .card-number {
  display: none;
} */