/* ---------------------------- Images --------------------------- */
/* --------------------------------------------------------------- */

.circle-image-small {
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-content: center;
}