/* --------------------- Primary navigation ---------------------- */
/* --------------------------------------------------------------- */
.logo {
  height: 50px;
  width: 50px;
  border-radius: 9999px;
  background: rgb(206, 206, 206);
}

#primary-header {
  --nav-clr-primary: var(--clr-neutral-100);
  --nav-clr-secondary: var(--clr-accent-blue);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.primary-navigation {
  list-style: none;
}

.primary-navigation a {
  text-decoration: none;
  font-size: var(--fs-nav);
}
.primary-navigation > li:hover {
  transform: translateY(-2px);
  transition: translateY 1350ms ease-in-out;
}
.primary-navigation li:has(a:active) {
  transform: translateY(2px);
}
.primary-navigation a.active,
.primary-navigation a:active {
  color: var(--nav-clr-secondary);
}
.primary-navigation a.active {
  text-decoration: underline;
}

/* Hamburger menu */
.hamburger-menu {
  display: none;
}


@media (max-width: 768px) {
  .primary-navigation {
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 calc( 100% - 325px );
    gap: var(--gap);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    background: var(--nav-clr-secondary);
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .primary-navigation a {
    color: var(--nav-clr-primary);
  }
  .primary-navigation a.active,
  .primary-navigation a:active {
    color: var(--clr-primary-yellow);
  }

  /* Hamburger menu */
  .hamburger-menu {
    --animation-timing: 200ms ease-in-out;

    --bar-width: 60px;
    --bar-height: 8px;
    --gap: 6px;
  
    --hamburger-height: calc(var(--bar-height) * 3 + var(--gap) * 2);
    /* multiply by square root of 2 */
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
  
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: max-content;
    position: relative;
    z-index: 9999;
    cursor: pointer;
  }
  
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--nav-clr-secondary);
    border-radius: 9999px;
    transform-origin: right center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
  }
  
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  
  .hamburger-menu:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
    background-color: var(--clr-neutral-100);
  }
  
  .hamburger-menu:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
    background-color: var(--clr-neutral-100);
  }
  
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
}