/* ---------------------------- Reset ---------------------------- */
/* --------------------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html,
body {
  height: 100%;
  color: var(--clr-neutral-900);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary);
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on interactive elements */
button, input, label { line-height: 1; }
h1, h2, h3, h4 { line-height: 1.2; }

/* Balance text wrapping on headings */
h1, h2, h3, h4 { 
  text-wrap: balance; 
  position: relative;
}

/* Default block margins on headings */
h1 { margin-block: 0 var(--size-400); }
h2 { margin-block: 0 var(--size-400); }
h3 { margin-block: 0 var(--size-400); }
h4 { margin-block: 0 var(--size-300); }
p { margin-block: 0.4em; }

/* Spans in headings are block elements */
h1 span,
h2 span,
h3 span,
h4 span {
  display: inline-block;
}

/* Paragraph indent */
p { text-indent: 2ch; }
p:first-of-type { text-indent: 0ch; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Remove active button highlight on mobile */
a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations, transitions and smoothing effects */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}