/* ----------------------- Utility classes ----------------------- */
/* --------------------------------------------------------------- */

.test-border { border: 3px solid red;}

/* Text color */
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

/* Background color */
.bg-primary-red {
  background-color: var(--clr-primary-red);
}
.bg-primary-yellow {
  background-color: var(--clr-primary-yellow);
}
.bg-primary-blue {
  background-color: var(--clr-primary-blue);
}
.bg-accent-blue {
  background-color: var(--clr-accent-blue);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

/* Text styling */
.ff-title {
  font-family: var(--ff-title);
}

.italic {
  font-style: italic;
}

.fw-regular { font-weight: var(--fw-regular); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-bold { font-weight: var(--fw-bold); }

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-body-large {
  font-size: var(--fs-body-large);
}
.fs-title {
  font-size: var(--fs-title);
}

.fs-300 { font-size: var(--fs-300) }
.fs-400 { font-size: var(--fs-400) }
.fs-500 { font-size: var(--fs-500) }
.fs-600 { font-size: var(--fs-600) }
.fs-700 { font-size: var(--fs-700) }
.fs-750 { font-size: var(--fs-750) }
.fs-800 { font-size: var(--fs-800) }
.fs-850 { font-size: var(--fs-850) }
.fs-900 { font-size: var(--fs-900) }

.center-text {
  text-align: center;
}

/* Padding and margins */
.percent-height-60 { min-height: 60svh }
.percent-height-65 { min-height: 65svh }
.percent-height-70 { max-height: 70svh }
.percent-height-75 { min-height: 75svh }
.percent-height-80 { min-height: 80svh }
.percent-height-85 { min-height: 85svh }
.percent-height-90 { min-height: 90svh }
.percent-height-95 { min-height: 95svh }
.percent-height-100 { min-height: 100svh }

.margin-block-100 { margin-block: var(--size-100); }
.margin-block-200 { margin-block: var(--size-200); }
.margin-block-300 { margin-block: var(--size-300); }
.margin-block-400 { margin-block: var(--size-400); }
.margin-block-500 { margin-block: var(--size-500); }
.margin-block-600 { margin-block: var(--size-600); }
.margin-block-700 { margin-block: var(--size-700); }
.margin-block-800 { margin-block: var(--size-800); }
.margin-block-900 { margin-block: var(--size-900); }

.margin-before-100 { margin-block-start: var(--size-100); }
.margin-before-200 { margin-block-start: var(--size-200); }
.margin-before-300 { margin-block-start: var(--size-300); }
.margin-before-400 { margin-block-start: var(--size-400); }
.margin-before-500 { margin-block-start: var(--size-500); }
.margin-before-600 { margin-block-start: var(--size-600); }
.margin-before-700 { margin-block-start: var(--size-700); }
.margin-before-800 { margin-block-start: var(--size-800); }
.margin-before-900 { margin-block-start: var(--size-900); }

.margin-after-100 { margin-block-end: var(--size-100); }
.margin-after-200 { margin-block-end: var(--size-200); }
.margin-after-300 { margin-block-end: var(--size-300); }
.margin-after-400 { margin-block-end: var(--size-400); }
.margin-after-500 { margin-block-end: var(--size-500); }
.margin-after-600 { margin-block-end: var(--size-600); }
.margin-after-700 { margin-block-end: var(--size-700); }
.margin-after-800 { margin-block-end: var(--size-800); }
.margin-after-900 { margin-block-end: var(--size-900); }

.margin-after-gap { margin-block-end: var(--gap); }

.padding-block-100 { padding-block: var(--size-100); }
.padding-block-200 { padding-block: var(--size-200); }
.padding-block-300 { padding-block: var(--size-300); }
.padding-block-400 { padding-block: var(--size-400); }
.padding-block-500 { padding-block: var(--size-500); }
.padding-block-600 { padding-block: var(--size-600); }
.padding-block-700 { padding-block: var(--size-700); }
.padding-block-800 { padding-block: var(--size-800); }
.padding-block-900 { padding-block: var(--size-900); }

.padding-before-100 { padding-block-start: var(--size-100); }
.padding-before-200 { padding-block-start: var(--size-200); }
.padding-before-300 { padding-block-start: var(--size-300); }
.padding-before-400 { padding-block-start: var(--size-400); }
.padding-before-500 { padding-block-start: var(--size-500); }
.padding-before-600 { padding-block-start: var(--size-600); }
.padding-before-700 { padding-block-start: var(--size-700); }
.padding-before-800 { padding-block-start: var(--size-800); }
.padding-before-900 { padding-block-start: var(--size-900); }

.padding-after-100 { padding-block-end: var(--size-100); }
.padding-after-200 { padding-block-end: var(--size-200); }
.padding-after-300 { padding-block-end: var(--size-300); }
.padding-after-400 { padding-block-end: var(--size-400); }
.padding-after-500 { padding-block-end: var(--size-500); }
.padding-after-600 { padding-block-end: var(--size-600); }
.padding-after-700 { padding-block-end: var(--size-700); }
.padding-after-800 { padding-block-end: var(--size-800); }
.padding-after-900 { padding-block-end: var(--size-900); }

.padding-after-gap { padding-block-end: var(--gap); }

/* Container and positioning */
.container {
  position: relative;
  z-index: 100;
  width: min(var(--large-screen-min), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.content-block-small,
.content-block-large {
  display: block;
  position: relative;
  margin-inline: auto;
}
.content-block-small {
  max-width: calc( var(--large-screen-min) * 0.5 );
}
.content-block-large {
  max-width: calc( var(--large-screen-min) * 0.7 );
}

/* Border */
.border {
  border: 2px solid var(--clr-neutral-900);
}

/* Backgorounds */

.bg-grid-paper {
  --bg-grid-size: 30px;
  --bg-dash-length: 5px;
  --bg-dash-width: 1px;
  --bg-dash-color: #b1b1b1;
  --bg-background: var(--clr-accent-blue);

  background-color: var(--bg-background);
  background-size: (var(--bg-dash-length)*2) (var(--bg-dash-length)*2), var(--bg-grid-size) var(--bg-grid-size);
  background-image:
    linear-gradient(to bottom, transparent var(--bg-dash-length), var(--bg-background) var(--bg-dash-length)),
    linear-gradient(to right, var(--bg-dash-color) var(--bg-dash-width), transparent var(--bg-dash-width)),
    linear-gradient(to right, transparent var(--bg-dash-length), var(--bg-background) var(--bg-dash-length)),
    linear-gradient(to bottom, var(--bg-dash-color) var(--bg-dash-width), transparent var(--bg-dash-width));
}

/* Shadow */
.shadow-red,
.shadow-yellow,
.shadow-blue,
.shadow-black {
  box-shadow: 12px 12px var(--shadow-clr);
  border-radius: var(--border-radius)
}
.shadow-red {
  --shadow-clr: var(--clr-primary-red);
}
.shadow-yellow {
  --shadow-clr: var(--clr-primary-yellow);
}
.shadow-blue {
  --shadow-clr: var(--clr-primary-blue);
}
.shadow-black {
  --shadow-clr: var(--clr-neutral-900);
}


/* Flex */
.flex-row,
.flex-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc( var(--gap) / 2 );
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-grow {
  flex-grow: 1;
}

/* Gap */
.gap-0 { gap: 0px; }
.gap-1 { gap: calc( var(--gap) ) }
.gap-2 { gap: calc( var(--gap) * 2 ) }

/* Div styling */
.box-shadow {
  box-shadow: 3px 5px 25px 5px hsla(200, 100%, 20%, 0.1), 1px 3px 10px hsla(200, 100%, 20%, 0.1);
}
.dashed-divider {
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 40px 4px;
  background-repeat: repeat-x;
}

/* Display on different screen sizes */
@media (max-width: 1023px) {
  .large-screen-only {
    display: none;
  }
}
@media (min-width: 1024px) {
  .smaller-screen-only {
    display: none;
  }
}

/* Pointer events */
.not-clickable {
  pointer-events: none;
}

/* Accessability */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Columns */
@media (min-width: 1024px) {
  .even-columns,
  .uneven-columns-right,
  .uneven-columns-left {
    display: grid;
    grid-gap: var(--gap, 2.5rem) var(--gap, 2.5rem);
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
  }
  .even-columns {
    grid-auto-columns: 1fr;
  }
  .uneven-columns-left {
    grid-template-columns: calc(60% - ( var(--gap) / 2 ) ) 
      calc(40% - ( var(--gap) / 2 ) );
  }
  .uneven-columns-right {
    grid-template-columns: calc(40% - ( var(--gap) / 2 ) ) 
    calc(60% - ( var(--gap) / 2 ) );
  }
}